.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.switchers {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.collapseBtn {
  position: relative;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.item a {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    fill: var(--inverted-secondary-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    gap: 0;
  }

  .item span {
    display: none;
  }
}
