.app.dark {
  --bg-color: #000010;
  --inverted-bg-color: #fff;
  
  --primary-color: #8dff8d;
  --secondary-color: #f4fff4;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #575757;
}
