.app_dark_theme {
  --bg-color: #01015b;
  --inverted-bg-color: #fff;
  --primary-color: #8dff8d;
  --secondary-color: #f4fff4;
  --inverted-primary-color: #000;
  --inverted-secondary-color: #575757;
}
