.app_light_theme {
  --bg-color: #fff;
  --inverted-bg-color: #000010;
  --primary-color: #000;
  --secondary-color: #575757;
  --inverted-primary-color: #8dff8d;
  --inverted-secondary-color: #f4fff4;
}
